.home-container .box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 75vh;
  text-align: center;
}

.home-container .box h2,
.home-container .box h3 {
  opacity: 0.5;
}
